:root {
  font-family: 'BC Sans';
  line-height: 16px;
  font-weight: 700;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #EFEFEF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

button {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-family: 'BC Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  background-color: #EFEFEF;
  color: #065A2F;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
}

h3 {
  width: 522px;
  height: 36px;
  font-family: 'BC Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 0.244444px;
  color: #313132;
  flex: none;
  order: 0;
  flex-grow: 0;
}
a{
  display: block;
  margin: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  gap: 2rem;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

#header-section {
  margin-bottom: 2rem;
  text-align: left;
}

#file-display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}

#file-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#open-modal-btn {
  margin: 1.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #065A2F;
  color: white;
}

#file-list {
  text-align: left;
  border: #00000080 1px solid;
  min-width: 50em;
  min-height: 20em;
}

#converted-files {
  width: auto;
  margin: 0;
  padding-left: 0.5rem;
  border-bottom: #00000080 1px solid;
}

.modal {
display: none;
position: fixed;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.4);
}

.modal-content {
  display: flex;
  place-items: center;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}

#submit-btn {
  background-color: #065A2F;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

#submit-btn:disabled {
  background-color: #ff1414;
  cursor: not-allowed;
}

#drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  max-width: 100%;
  height: 200px;
  padding: 1em;
  border: 0.15rem dashed #56565650;
  border-radius: 4px;
  color: #00000080;
  cursor: pointer;
}
